@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

html, body {
   padding: 0;
   margin: 0;
}

* {
   font-family: "Rubik";
}

.head-container {
   text-align: center;
   background-image: url(./phone-driving.jpeg);
   background-size:cover;
   background-position: 0% 50%;
   padding: 1rem 0 2rem;
   position: relative;
}
.head-container p {
   color: #eee;
   font-size: 1.3rem;
   margin: 0.3rem;
}
.head-container p.big {
   color: #fff;
   font-size: 1.5rem;
   font-weight: bold;
}

h1 {
   color: #fff;
   font-size: 3.5rem;
}

.section {
   text-align: justify;
   background-color: #f3f3f3;
   padding: 1rem 3rem;
   margin: 1rem;
}

img {
   min-width: 20rem;
   margin-left: 50%;
   transform: translateX(-50%);
}